.app {
  text-align: center;
}
.area{
  background-color: white;
  width:700px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px gray;
  margin: 10px;
  margin-top: 100px;
  margin-left:100px;
  padding: 10px;
}
.app-logo {
  height: 60px;
  margin-top:40px;
  margin-left: 10px;
  pointer-events: none;
}
.homeimg{
  height: 40px;
  margin-left: 20px;
  margin-top:10px;
}
.notch{
  float:left;
  position: absolute;
  height: 60px;
  width: 6px;
  background-color:rgb(68, 68, 68);
  border-radius: 0 5px  5px 0;

}
.all{
  height: 100%;
  width: 100%;
}
.mainarea{
  display:flex;
  height: 100%;
}
.topbar{
  height:100px;
  width: 100%;
  background-color: white;
  // background-color: yellow;

}
.body{
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  border-radius: 40px 0 0 0;

}
.navbaritem{
  // margin-left:  10px;
  margin-top:30px;
}
.sidebar{
  width: 80px;
  background-color: white;
  display: flex;

  flex-direction: column;
  
}
.spacer1{
  flex:3;
}
.spacer{
  flex:8;
}
// @media (prefers-reduced-motion: no-preference) {
//   .app-logo {
//     animation: app-logo-float infinite 3s ease-in-out;
//   }
// }

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: rgb(112, 76, 182);
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
